.App {
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}

.App-header {
  background:linear-gradient(45deg, #78A0F8, #A735F4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 0;
}

button {
  background-color: black;
  color: white;
  padding: 10px 100px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05); 
 
    box-shadow: 1px 10px 20px 3px rgba(1, 1, 1, 0.5);
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
  
}

.export {
  margin-top: 20px;
}

.export button {
  background-color: black;
  color: white;
  padding: 10px 100px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  position: relative;
  top: -3vh;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.export button:hover {
  background-color: #3D9970;
}


